.header {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

button {
    margin: 10px;
    padding: 16px;
}

#container {
    display:flex;
    align-items: center;
    flex-flow: column;
    background-color: pink;
}

#etch {
    display:flex;
    width:288px;
    height:288px;
    flex: 1 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.gridRows {
    display: flex;
    background-color: white;
}

.cell {
    display: flex;
    flex-grow: 1;
    border: 1px solid black;
    padding: 16px;
}
